
a {
  cursor: pointer;
}

html,
body {
  background: white;
  font-family: Gill Sans,'Gill Sans', 'Gill Sans MT',
      Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px 0px 1px 0px;
  width: 100%;
}

div.header, div.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: #D8ECE9;
  padding: 10px 0px;

}

div.uplink {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  background-color: white;
  margin-top: 0px;
}

div.footer {
  margin-top: 50px;
}

#topOpts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin: 0px 100px;
    padding: 0px 100px;
}

#topOpts a {
    text-decoration:none;
    margin: 0px 10px;
}

.icon path {
  fill: black;
  background-color: #D8ECE9;
}

  .icon path:hover {
    fill: #782E6D;
  }

div.intro {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}

div.footerText {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  max-width: 700px;
}

div.footer h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}


div.text {
  width: 50%;
  min-width: 500px;
  padding-left: 50px;
  margin-bottom: 50px;
}


h1 {
    margin: 30px 10px 0px 10px;
}

h2 {
  margin: 0px 10px 10px 10px;
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
}

h3 {
  margin: 0px 10px 10px 10px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;

}

.header h2 {
    font-size: 18px;
}

p {
  margin: 5px 10px 10px 10px;
  font-size: medium;
}

a {
  color: #316D64;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: #316D64;
  }

h2.title {
  margin-top: 25px;
  font-style: normal;
  font-weight: bold;
}
  

div.text p {
  margin: 5px 10px 15px 10px;
  font-size: 18px;
  
}

#titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px 0px 0px;

}

div#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px, 25px;

}

div#filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;
  overflow: hidden;
  
}

  div#filters div div {
    padding: 5px;
    margin: 5px;
    background-color: #DBC7DA;
  }

  #reset {
      padding: 10px;
      margin-top: 25px;
      text-align: center;
  }

  .labels {
    font-size: medium;
    fill: white;
}

.hidden {
  display: none;
}

#changes .hidden {
   display: unset;
   opacity: 0;
}


path {
  stroke-opacity: 0.35;
  fill: none;
}

#replay {
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
}

#replay path {
    fill: #666666;
    background-color: white;
}


#scrolly {
  position: relative;
  background-color: white;
  padding: 0.75rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 75%;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 2;
  background-color: white;
}


figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: white;
  opacity: 0.25;
}

.step {
  margin: 0 auto 2rem auto;
  color: white;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

div#stepStart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
}

  div#stepStart div, div#explore div {
    min-width: 58%;
    background-color: #ececec;
    margin: 0px;
    padding: 0px;
  }

#stepStart p, #stepStart a {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  margin: 0px;
  color: #666666;

}

#stepStart a {
    font-weight:600;
}

div.step {
  width: 85%;
  z-index: 1;
}

  .step:last-child {
    margin-bottom: 0;
  }

.step.is-active p {
  background-color: #D8ECE9;
  color: black;
}

.step p {
  text-align: left;
  padding: 20px 60px;
  font-size: 20px;
  background-color: white;
  color: white;
  z-index: 0;
}

.step:nth-child(14) p {
  text-align: center;
}


path.fp {
  stroke: #469890;

}
path.priv {
  stroke: #316D64;
}

path.pub4 {
  stroke: #295948;
}

path.pub2 {
  stroke: #193D30;
}

path.nontran {
  stroke: #555555;
}

path.grad {
  stroke: #782E6D;
}

path.nongrad {
  stroke: #555555;
}

rect.fp {
  fill: #469890;
}

rect.priv {
  fill: #316D64;
}

rect.pub4 {
  fill: #295948;
}

rect.pub2 {
  fill: #193D30;
}

rect.nontran {
  fill: #555555;
}

rect.grad {
  fill: #782E6D;
}

rect.nongrad {
  fill: #555555;
}

path.selected {
  stroke: #469890;
  stroke-opacity: 0.5;
  transition: stroke 500ms, stroke-opacity 500ms;
}
rect.selected {
  fill: #469890;
  transition: fill 500ms;
}

path.unselected {
  stroke: #555555;
  stroke-opacity: 0.15;
}

rect.unselected {
  fill: #555555;
}

div#tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: auto;
  padding: 5px;
  background: #D8ECE9;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  z-index: 3;
}

div#tooltip p {
    font-size: 12px;
}
  div#tooltip p#sub {
    font-size: 10px;
    font-style: italic;
  }

div#callouts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#callout,
div#calloutLabels,
div#changes {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  min-width: 700px;
  margin: 0px 0px 5px 0px;
  height: 25px;
}

    div#callout h1, div#callout h2
    div#calloutLabels h1, div#calloutLabels h2
    div#changes h1, div#changes h2 {
      text-align: center;
      vertical-align: bottom;
      width: 200px;
    }

div#changes h2 {
    font-size: 18px;
    margin-top: 0px;
}

#calloutLabels h2 {
  font-size: 20px;
  width: 200px;
  text-align: center;
  margin-top: 20px;
}

